* {
    padding: 0;
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    text-size-adjust: none;
    background-color: #FAFAFA;
    box-sizing: border-box;
    border: 1px solid transparent;
    font-family: Consolas, Microsoft Jhenghei, Hiragino Sans GB, Microsoft YaHei;
}

html {
    font-size: 10px;
}

a {
    font-size: 1.6rem;
    color: #212121;
    text-decoration: none;
    word-break: break-word;
}

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iconfont.woff2') format('woff2'),
        url('../fonts/iconfont.woff') format('woff'),
        url('../fonts/iconfont.ttf') format('truetype'),
        url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 1.6rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.forbind {
    cursor: not-allowed !important;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #FAFAFA;
    display: flex;
    justify-content: space-between;
    height: 6rem;
    z-index: 300;
    box-sizing: border-box;
    padding: 0 1.2rem;
}

.nav_brand,
.nav_right {
    display: flex;
    align-items: center;
}

.nav_right a {
    color: #9E9E9E;
    margin-left: 1.5rem;
}

.container {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 6.8rem;
    margin-bottom: 68px;
}

.bottom-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #F5F5F5;
    overflow: auto;
    z-index: 300;
    box-sizing: border-box;
    padding: 0 12px;
}

.bottom-bar-left,
.bottom-bar-right {
    display: inline-flex;
    align-items: center;
}

.awrrow {
    font-size: 2rem;
    text-align: center;
    line-height: 4rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    color: #42A5F5;
    border-radius: 50%;
    transition: all .4s linear;
}
/* .nav_brand_name:active{ box-shadow: 0px 0px 50px #40a9ff inset; color:#fff;} */
.awrrow:hover {
    background-color: #42A5F5;
    color: white;
}

.home {
    border: 1px solid transparent;
}

.home-article-wrapper {
    display: block;
    min-height: 330px;
    margin: 3rem 0;
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 6rem 6rem 4rem;
}
@media screen and (max-width: 1024px) {
    .home-article-wrapper {
        margin: 2rem 0;
        padding: 4rem 2rem 4rem;
    }
}
.passage-meta {
    font-size: 14px;
    color: #616161;
}

.home-article-title {
    font-size: 26px;
    line-height: 42px;
    margin: 20px 0 25px;
}

.home-article-content {
    font-size: 16px;
    margin-top: 10px;
    line-height: 2;
    letter-spacing: 0.2px;
    word-break: break-word;
}

.home-article-content p {
    margin: 12px 0;
}

.home-article-read {
    display: inline-block;
    margin-top: 15px;
    margin-left: 0;
    color: #9E9E9E;
    font-weight: 600;
    font-size: 16px;
    font-style: italic;
    transition: all .1s linear;
}

.home-article-read:hover {
    color: #616161;
    margin-left: 10px;
}

.passage-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 15px;
    border-top: 1px solid #EEEEEE;
}

.passage-tags a {
    display: inline-flex;
    margin: 0 15px 15px 0;
    align-items: center;
    height: 30px;
    box-sizing: border-box;
    padding: 5px 10px;
    background: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    transition: all .15s linear;
}

.passage-tags a:hover {
    color: #2196F3;
    border-color: #2196F3;
}

.timeLine {
    display: block;
    max-width: 768px;
    min-height: 300px;
    box-sizing: border-box;
    margin: 30px auto 40px;
    padding-left: 30px;
    border-left: 3px solid #B0BEC5;
}

.timeline-title {
    font-size: 28px;
    position: relative;
    margin-bottom: 25px;
    line-height: 32px;
    box-sizing: border-box;
}

.timeline-item {
    position: relative;
    padding-left: 100px;
    margin-bottom: 25px;
    line-height: 32px;
    box-sizing: border-box;
}

.timeline-title::before,
.timeline-item::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-style: solid;
    border-color: #B0BEC5;
    border-radius: 50%;
    background: white;
    content: "";
    transition: all .3s ease;
    width: 9px;
    height: 9px;
    border-width: 2px;
    left: -38px;
}

.timeline-title::before {
    width: 12px;
    height: 12px;
    border-width: 4px;
    left: -42px;
}

.timeline-item time {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    font-weight: 300;
    color: #616161;
    width: 100px;
}

.timeline-item a {
    color: #212121;
    font-weight: normal;
    transition: all .3s ease;
}

.timeline-item a:hover {
    color: #2196F3;
}

.timeline-item:hover::before {
    border-color: #2196F3;
}
.article_title {
    font-size: 36px;
    line-height: 42px;
    margin: 25px 0 40px;
}
.article_content {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 2;
    letter-spacing: 0.2px;
    word-break: break-word;
}
.article_content p{
    margin: 12px 0;
}
.article_content pre{
    background-color: #212121;
    color: #B0BEC5;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 2px 4px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}
.classify-wrap{
    margin: 0 auto;
    max-width: 768px;
}
.classify-item{
    display: inline-block;
    padding: 4px;
    position: relative;
    text-align: center;
}
.classify-item a{
    line-height: 2;
    /* font-size: 20px; */
}
.classify-item a:hover{
    color: #2196F3;
}
.classify-item::before{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #2196F3;
    right: 0;
    bottom: 0;
    transition: all .3s ease;
}
.classify-item:hover::before{
    width: 100%;
    right:auto;
}